.form-wrapper {
  background-color: #f2f2f2;
}
.group-title {
  font-size: 1.5rem;
  padding: 1rem 0;
}
label {
  color: #333333;
  text-transform: capitalize;
}
label span {
  margin-left: 0.8rem;
}
.form-group {
  padding-left: 1rem !important;
  margin-bottom: 1.2rem;
  padding-right: 1rem !important;
}
li {
  padding: 0.5rem 0.2rem;
}

.app-btn {
  background-color: #29419b;
}
.app-btn:hover {
  background-color: hsl(227, 58%, 42%);
}
.panel-title {
  text-transform: capitalize;
  background-color: #21429b;
  color: #ffffff;
  margin-bottom: 0;
}
.panel-group {
  box-shadow: 0 0 2px 0px #ffffff;
  background-color: #f9f9f9;
  border: 1px solid #21429b;
}
.title-link {
  display: flex;
  align-items: center;
  color: #ffffff;
}
.title-link:hover {
  color: #f5f5f5;
}
.title-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
}
.title-link:hover {
  text-decoration: none;
}
.title-link[aria-expanded="true"] .title-icon {
  background-image: url("../img/minus-circle.svg");
}
.title-link[aria-expanded="false"] .title-icon {
  background-image: url("../img/plus-circle.svg");
}
.form-check-input {
  height: 18px;
  width: 18px;
  margin-left: -1.55rem;
  margin-top: 0.15rem;
}
.form-control {
  border-color: rgb(33 66 155 / 10%);
}
legend {
  color: #d33a27;
}
fieldset {
  border: 1px solid #d33a27 !important;
}
.modal {
  background-color: rgba(242, 242, 242, 0.4);
}
.modal-title {
  color: #29419b;
  font-size: 2.2rem;
}
.modal-header,
.modal-footer {
  border-color: rgba(41, 65, 155, 0.3);
}
.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: #d33a27;
  border-radius: 0 0 5px 5px;
  background-color: rgba(211, 58, 39, 0.05);
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}
.spinner-border {
  display: none;
}
.c-status {
  background-repeat: no-repeat;
}
.required {
  color: #d33a27;
}

body {
  text-align: right !important;
}

.form-control {
  height: calc(2.2em + 0.75rem + 2px);
}

.captcha-box {
  max-width: 200px;
  margin: 0 auto;
}

.captcha-input {
  border: 1px solid rgba(0, 0, 255, 0.2);
  max-width: 200px;
}

button:disabled {
  cursor: no-drop;
}

#captcha-token {
  font-size: 2rem;
  text-align: center !important;
  letter-spacing: 8px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#captcha-refresh {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

#captcha-refresh:focus,
#captcha-refresh:active {
  border: none;
  box-shadow: none;
  outline: none;
}

.c-status {
  position: relative;
  top: 42px;
  left: 40px;
  display: block;
  height: 30px;
  width: 30px;
}
.c-status.valid {
  background-image: url("../img/check-circle.svg");
}
.c-status.invalid {
  background-image: url("../img/x-circle.svg");
}

.template-check-boxes legend {
  color: #29419b;
}

.template-check-boxes fieldset {
  border: 1px solid #29419b !important;
}
.datepicker {
  width: unset !important;
}
@media (max-width: 576px) {
  .panel-title {
    font-size: 1rem;
  }
}
